/*
Table of contents
-GENERAL
-HEADER
-MAIN
    -HOME SECTION
    -ABOUT SECTION
    -SKILLS SECTION
    -PROJECTS SECTION     
    -CONTACT FORM
-FOOTER
-ACCENTED HEADINGS
-LINKS
-BUTTONS
-CARDS
-ANIMATIONS
-MEDIA QUERIES
    -1198px
    -1080px
    -768px
    -610px
    -440px
    -320px
*/

/*I would have styled 'Check CV' button for mobile version like all other buttons, 
meaning centered, but I forgot to do that in my design, so I didn't do it in my code*/

/*I couldn't properly style the first letter of my headings because if I use 'left' property 
and adjust it for a specific screen size, it sticks there when I change the size, 
so I used left:auto even though it is not quite the same as in my design*/

/***** GENERAL *****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
}

h2{
    font-family: "Montserrat";
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 50px ;
}

#home, #skills {
    margin: 0px 100px;
}

#about, #projects, #footer {
    background-color: #FFF0E6;
    padding: 50px 100px 70px 100px;
}

/***** HEADER *****/
#header {
    margin: 40px 100px;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    width: 30vw;
    max-width: 203px;
    height: auto;
    min-width: 120px;
}

#nav-bar {
    display: flex;
    flex-flow: row wrap;
    gap: 3.12em;
    font-weight: 600;
    align-items: center;
}
#header-navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 3.12em;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

.button {
    background-color: #ABC7CB;
    padding: 0.87em 1.81em;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
}

#my-photo {
    width: 100%;
    height: auto;
}

/***** MAIN *****/
/* HOME SECTION */

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 1.56em;
    padding-bottom: 3.75em;
}

#home p:first-of-type {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2.5em;
    color: #DE7B48;
    margin: 0;
}

h1{
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 3em;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    margin: 0;
}

#home-items {
    display: flex;
    flex-flow: column wrap;
    max-width: 25.87em;
}

#hire-button{
    margin-top: 2.5em;
}

#hire-button .button{
    background-color: #EEB192;
    padding: 0.87em 3em;
}

#home-social {
    display:flex;
    justify-content: flex-start;
    gap: 2.18em;
    list-style: none;
    padding-top: 3.12em;
    padding-left: 0;
}

.home-social-item {
    width: 28px;
    height: auto;
}

/* ABOUT SECTION */

#about-flex-container {
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: center;
    gap: 5.62em;
}

#about-items {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    width: 50%;
}

#cv-button{
    margin-top: 30px;
}

#hello{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h3 {
    font-weight: 700;
    font-size: 1.75em;
    margin: 0;
}

.highlighted {
    color:#DE7B48;
    font-weight: 700;
}

/* SKILLS SECTION */
#skills{
    margin-top: 3.12em;
    margin-bottom: 6.25em;
}

#all-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.skill-item {
    max-width: 18.3em;
    height: auto;
}

.skill-item p {
    line-height: 1.75em;
}

#skills h3{
    margin-top:30px;
    margin-bottom: 15px;
}

/* PROJECTS SECTION */
#projects img {
    max-width: 100%;
    min-width: 15em;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
}

#projects h3 {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding-top: 1.25em;
}

#all-projects {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 350px); */
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em 1.62em;
}

/* #all-projects {
    display: flex;
    flex-flow: row wrap;
    gap: 2.5em 6.62em;
} */

#more-button {
    text-align: center;
    margin-top: 4.12em;
}

/***** CONTACT FORM *****/
#contact-form {
    margin: 100px;
}

#form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1.87em;
}

#form-text {
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-content: center;
    max-width: 25.5em;
    min-width: 17.5em;
}

#form-text h2 {
    font-size: 2.25em;
    text-align: left;
    text-transform: none;
    color: #DE7B48;
}

#form-inputs {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 1.12em;
}

input {
    display: inline;
    font-size: 12px;
    width: 440px;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid #EEB192;
    border-radius: 5px;
    padding: 1em;
}

.input {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 42px;
}

textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    width: 440px;
    height: 123px;
    box-sizing: border-box;
    border: 2px solid #EEB192;
    border-radius: 5px;
    padding: 1em;
}

input::placeholder {
    color: #90A9AC;
}

textarea::placeholder {
    color: #90A9AC;
}

#submit-btn-container {
    align-self:flex-end;
    margin-top: 0.62em;
}

#submit-button {
    width: 440px;
    height: 50px;
    border: none;
    border-radius: 5px;
}


.asterisk {
    color:#DE7B48
}

/***** FOOTER *****/
#footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 15px;
}

#footer-logo {
    max-width: 155px;
    height: auto;
}

#footer-container-one {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#footer-navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 3.12em;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

}

#footer-legal {
    display: flex;
    flex-flow: column wrap;
    gap: 13px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

#footer-container-two{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

#footer-social {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social-item {
    width: 23px;
    height: auto;
}

#footer p{
    font-size: 11px;
}

#copyright-hidden{
    display: none;
}


/***** ACCENTED HEADINGS *****/
h2{
    position: relative;
    z-index: 2;
}

h2::before{
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #A7D8D5;
    position: absolute;
    z-index: -1;
    left: auto;
    top: -12px;
}

#projects h2::before{
    left: auto;
    top: -12px;
}

#contact-form h2::before{
    display: none;
}

#contact-form h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

/***** LINKS *****/

a:link {
    text-decoration:none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color:#c58261;
}

a:active {
    color: #DE7B48;
}

/***** BUTTONS *****/
#hire-button .button:hover {
    background-color:#EFC5AC;
    color: black;
}

#hire-button .button:active {
    background-color:#EEB192;
    color: black;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.10);
}

#contact-button .button:hover, 
#submit-btn-container .button:hover,
#cv-button .button:hover,
#more-button .button:hover
{
    background-color:#A7D8D5;
    color: black;
}

#contact-button .button:active,
#submit-btn-container .button:active,
#cv-button .button:active,
#more-button .button:active
{
    background-color:#ABC7CB;
    color: black;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.10);
}

/***** CARDS *****/
.project-item img {
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 1s;
}

.project-item img:hover {
    border: 2px solid #DE7B48;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.10);
    transform: translateY(-10px);
}

/***** ANIMATIONS *****/
#home-items p:first-child {
    transition: all 1s;
}

#home-items p:first-child:hover {
    letter-spacing: 2px;
    transform: skew(-20deg);
}

.spin{
    transition: 2s;
}

.spin:hover{
    transform: rotate(360deg);
}

.menu-toggle {
    display: none;
}

#menu-button {
    display: flex;
    gap:7px;
}

/***** MEDIA QUERIES *****/
@media (max-width: 1198px) {
    input {
        width: 300px;
    }
    
    textarea {
        width: 300px;
    }  

    #submit-button {
        width: 300px;
    }
}

@media (max-width: 1080px) {
    #header{
        margin: 70px 40px 0 40px;

    }

    #home, #skills, #contact-form {
        margin: 0 40px;
    }
    
    /* MENU */
    #header-container {
        align-items: flex-start;
    }

    #nav-bar {
        flex-flow: column;
        align-items: flex-end;
        gap: 10px;
    }

    #burger-menu{
        max-width: 1.5em;
        height: auto;
    }

    .menu-toggle {
        display: block;
        text-transform: uppercase;
        font-size: 1.25em;
    }

    #header-navigation{
        flex-direction: column;
        gap: 1em;
        transition:0.5s; 
        overflow: hidden;
        height:0;
    }

    #header-navigation.show-small {
        padding:1em;
        height:260px;
        background-color:#fff4ee;
        border: 2px solid #DE7B48;
        border-radius: 5px;
        position:absolute;
        right:0;
        width:30%;
    }

    .nav-item, #contact-button{
        padding-left: 30px;
    }

    #contact-button .button{
        background-color: unset;
        padding: 0;
    }

    #contact-button .button:hover{
        background-color: unset;
    }
    
    /* HOME */
    #home p:first-of-type {
        font-size: 1.87em;
    }
    
    h1{
        font-size: 2.25em;
    }

    #my-photo{
        max-width: 700px;
    }

    #home-social {
        display: none;
    }
    
    /* ABOUT */
    #hello {
        display: none;
    }

    #about-items{
        width: 100%
    }

    #about-flex-container {
        gap:0;
    }

    #about {
        padding: 50px 40px 70px 40px;
    }

    /*SKILLS*/
    #skills {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #all-skills{
        flex-flow: column;
        align-items: center;
        gap: 50px;
    }

    /* PROJECTS */
    #all-projects {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, 350px); */
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5em 3.31em;
    }

    #projects {
        padding: 50px 40px 70px 40px;
    }

    /* CONTACT FORM */
    #contact-form {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #form {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #form-text h2, #form-text p {
        text-align: center;
    }

    #form-inputs{
        gap: 20px;
        width: 440px;
    }

    #username-input, #email-input, #message-input {
        flex-flow: column;
        gap: 10px;
    }

    input, textarea {
        width: 100%;
    }

    #submit-button {
        width: 440px;
    }
    
    /* FOOTER */
    #footer-navigation, #footer-logo {
        display: none;
    }

    #footer-container-one {
        flex-flow: column;
        justify-content: center;
        text-align: center;
        order: 2;
    }

    #footer-legal {
        font-size: 12px;
    }

    #copyright  {
        display: none;
    }

    #copyright-hidden{
        display: block;
        padding-top: 20px;
    }

    #footer{
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

/* TABLET*/
@media (max-width: 768px) {
    #home-items{
        width: 28em;
    }
    
    h1{
        width: 9em;
    }
}

@media (max-width: 610px) {
    /*HOME*/
    #home {
        flex-flow: column;
        align-items: flex-start;
    }

    #home-items{
        order:2;
        width:auto;
    }

    #home p:first-of-type {
        font-size: 1.25em;
    }
    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.37em;
    }

    h3 {
        font-size: 1.25em;
    }

    #form h2 {
        font-size: 1.37em;
    }

    #header-navigation.show-small {
        padding:10px;
        width:50%;
    }

    /*PROJECTS*/
    #all-projects {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, 350px); */
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5em 3.31em;
    }

    .project-item:nth-child(n+4){
        display: none;
    }
    
    /*CONTACT FORM*/
    #contact-form{
        margin: 60px 40px;
    }
    #form{
        align-items: flex-start;
        max-width: 27.5em;
    }

    #form-text h2, #form-text p {
        text-align:left;
    }

    #contact-form h2 {
        margin-bottom: 20px;
    }
    
    #submit-btn-container {
        align-self:flex-start;
    }

    .input{
        width: 330px;
    }

    #submit-button {
        width: 330px;
    }

}

@media (max-width: 440px) {

    /*PROJECTS*/
    #hire-button .button{
        padding: 0.87em 5.8em;
    }

    #more-button .button {
        padding: 0.87em 4.3em;
    }
    
    /*CONTACT FORM*/
    .input {
        max-width: 15.5em;
    }
    
    #submit-button {
        width: 15.5em;
    }

    /* FOOTER*/
    #footer{
        padding: 30px 0;
    }
}




/* PHONE */
@media (max-width: 320px) {
    #skills, #contact-form{
        margin: 50px 20px 60px 20px;
    }

    /*HOME*/
    #home {
        margin: 25px 20px 60px 20px;
    }

    #home {
        padding: 0;
    }

    /*ABOUT*/
    #about {
        padding: 40px 20px 60px 20px;
    }

    /*SKILLS*/
    #skills {
        margin: 50px 20px 60px 20px;
    }

    #about h2, #skills h2{
        margin: 0 0 30px 0;
    }

    /*PROJECTS*/
    #projects {
        padding: 40px 20px;
    }

    #projects h2{
        margin: 0 0 40px 0;
    }

    #more-button {
        margin-top: 40px;
    }

    /*CONTACT FORM*/
    #form-inputs {
        width: 100%;
    }
}